
/* ==================================================================

   LAYOUT

   ================================================================== */

/* Column widths
   ------------------------------------------------------------------ */

$text-width: 42.5rem;
$column-width: 60rem;

.column { width: $column-width; }
.column--text { width: $text-width; }


/* Blocks
   ------------------------------------------------------------------ */

header,
nav,
footer,
section,
article {
    position: relative;
    width: $text-width;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    transform: translateZ(0);
}

$space-lg: 5rem;

header {
    margin-top: $space-lg;

    h1 {
        margin-bottom: .75rem;
    }

    .intro {
        margin-top: $space-lg - 1rem;
        margin-bottom: 1.5rem;
    }
}

nav {
    margin-top: 2rem;
    margin-bottom: 5rem;
}


section {

}

article {

}

footer {
    margin: 7.5rem auto 2.5rem;
}




/* Scroll to nav
   ------------------------------------------------------------------ */

#scroll-arrow {
    // position: absolute;
    width: 100%;
    text-align: center;
    padding: 0 0 24rem;
    margin: 0;

    a {
        display: block;
        margin: 0;
        padding-top: 2rem;
        text-align: center;
        text-decoration: none;
    }

    p {
        @extend %text-link;
        margin: 0 auto 0.25rem;
        opacity: 0;
    }

    img {
        opacity: 0.4;
    }

    &:hover p,
    &:hover img {
        opacity: 1;
        transition: all 0.3s ease-out;
    }
}




/* Nav
   ------------------------------------------------------------------ */








