
/* ==================================================================

   TYPOGRAPHY ELEMENTS

   ================================================================== */



/* p, a & lists
   ------------------------------------------------------------------ */

%text {
    font-family: join($fontText, $body-serif-family);
    line-height: 1.4;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: $cText;
    margin: 0 auto .75rem;
    padding: 0;
}

p, a, ul, li, span {
    @extend %text;
    @include scut-rem-fallback(21);
}

ul {
    li {
        margin-bottom: 0;
    }
}

a {
    color: inherit;
    text-decoration: underline;
    &:hover,
    &:focus {
        color: $cLink;
        text-decoration: none;
    }

    &.lighten {
        text-decoration: none;
        color: lighten($cText,40%);
        &:hover { color: $cLink; }
    }

    img { border: none; }
}



/**
 * p variations
 */

%text-note  { @include scut-rem-fallback(12);}
%text-sm    { @include scut-rem-fallback(16);}
%text-lg    { @include scut-rem-fallback(32);}
%text-super { @include scut-rem-fallback(40);}

%text-display {
    font-family: join($fontDisplay, $body-serif-family);
    line-height: 1.2;
}

%text-link {
    font-family: join($fontTextItalic, $body-serif-family);
    text-align: center;
}

%text-light {
    color: lighten($cText,40%);
}



p.em {
    font-family: join($fontTextItalic, $body-serif-family); //$fontDisplayItalic
}

p.xs {
    @extend %text-note;
}

p.before-note {
    margin-bottom: 0;
}



/* Headlines
   ------------------------------------------------------------------ */

@for $index from 1 through 6 {
    h#{$index} {
        @extend %text;
        font-family: join($fontHead, $body-sans-family);
        font-weight: 400;
        @include scut-rem-fallback(16);
    }
}

h1 {
    @include scut-rem-fallback(22);
    line-height: 1;
    text-transform: uppercase;
}

