
/* ==================================================================

   TYPOGRAPHY COMPONENTS

   ================================================================== */


/* Nav
   ------------------------------------------------------------------ */

nav {
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;

        li {
            width: 100%;
            padding: scut-rem(6) scut-rem(6) scut-rem(8) 0;
            border-top: 1px solid $cText;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            font-family: join($fontTextItalic, $body-serif-family);
            // font-style: italic;
            @extend %text-sm;
        }

        &:hover li,
        &:hover .project-title {
            color: $cLink;
            // background-color: lighten($cLink,46%);
            // transition: all 0.2s ease-in;
        }
    }

    &.grey li {
        color: lighten($cText,55%);
    }
}



/* Contact (colophon)
   ------------------------------------------------------------------ */

p.interact,
p.interact a {
    @extend %text-sm;
    @extend %text-link;
}






