
/* ==================================================================

   TYPOGRAPHY COMPONENTS

   ================================================================== */

/**
 * p variations
 */

%text-sm { @include scut-rem-fallback(16);}
%text-md { @include scut-rem-fallback(18);}
%text-lg { @include scut-rem-fallback(27);}
%text-super { @include scut-rem-fallback(40);}

%text-link {
    font-style: italic;
    text-align: center;
}

%text-light {
    color: lighten($cText,40%);
}



/* Header
   ------------------------------------------------------------------ */

header {
}

.intro {
    p, a {
        font-family: "Freight Display";
        // font-style: italic;
        @extend %text-super;
        line-height: 1.2;
    }

    a {
        text-decoration: none;
        color: lighten($cText,40%);
        &:hover { color: $cText; }
    }
}



/* Nav
   ------------------------------------------------------------------ */

nav {
    ul {
        list-style: none;
    }

    a {
        text-decoration: none;

        li {
            width: 100%;
            padding: scut-rem(6) scut-rem(6) scut-rem(8) 0;
            border-top: 1px solid $cText;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            @extend %text-sm;
            font-style: italic;
        }

        &:hover li {
            background-color: lighten($cLink,40%);
            transition: background-color 1s ease-out;
            // border-left-color: $cText;
            // border-right-color: $cText;
            // &:last-of-type: { border-bottom-color: $cText; }
        }
    }
}

.project-title {
    @extend h1.title;
    text-align: left;
    margin-right: .5rem;
}



/* Contact (colophon)
   ------------------------------------------------------------------ */

p.contact,
p.contact a {
    @extend %text-sm;
    @extend %text-link;
}






