
/* ==================================================================

   TYPOGRAPHY ELEMENTS

   ================================================================== */

/* p, a & lists
   ------------------------------------------------------------------ */

%text {
    font-family: join($fontText, $body-serif-family);
    line-height: 1.4;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: $cText;
    margin: 0 auto .5rem;
    padding: 0;
}

p, a, ul, li, span {
    @extend %text;
    @include scut-rem-fallback(21);
}

ul {
    li {
        margin-bottom: 0;
    }
}

a {
    color: inherit;
    text-decoration: underline;
    &:hover,
    &:focus {
        color: $cLink;
        text-decoration: none;
    }

    img { border: none; }
}

/**
 * p variations
 */

%text-note { @include scut-rem-fallback(13);}
%text-sm { @include scut-rem-fallback(16);}
%text-lg { @include scut-rem-fallback(30);}
%text-super { @include scut-rem-fallback(40);}

%text-display {
    font-family: join($fontDisplay, $body-serif-family);
    line-height: 1.2;
}

%text-link {
    font-style: italic;
    text-align: center;
}

%text-light {
    color: lighten($cText,40%);
}

/**
 * Home 'about' summary
 */

.intro,
.intro a {
    @extend %text-display;
}

.intro a {
    text-decoration: none;
    color: lighten($cText,40%);
    &:hover { color: $cLink; }
}

.intro--super,
.intro--super a {
    @extend %text-super;
}

.intro--lg,
.intro--lg a {
    font-family: join($fontText, $body-serif-family);
    @extend %text-lg;
    text-align: center;
    margin-top: 2rem
}

/**
 * Figure captions
 */




/* Headlines
   ------------------------------------------------------------------ */

@for $index from 1 through 6 {
    h#{$index} {
        @extend %text;
        font-family: join($fontHead, $body-sans-family);
        @include scut-rem-fallback(16);
    }
}

h1 {
    @include scut-rem-fallback(21);
    text-align: center;
    line-height: 0.9;
}

h2 {
    @include scut-rem-fallback(29);
    line-height: 1;
    text-transform: uppercase;
}

/**
 * h variations
 */

.project-title,
.link-home {
    @extend h1;
    text-align: left;
    margin: 0 .5rem .5rem auto;
}

.link-home {
    position: fixed;
    top: 5rem;
    left: 1.5rem;
    text-decoration: none;
}






