p.interact
    | Sydney, Australia — Say hi:&nbsp;
    a(href='mailto:callumflack@gmail.com') email
    ,&nbsp;
    a(href='https://twitter.com/callumflack') twitter
    ,&nbsp;
    a(href='https://github.com/callumflack') github
    //- ,&nbsp;or&nbsp;
    //- a(href='http://www.linkedin.com/in/callumflack') linkedin
    .
