!!! 5
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        title Callum Flack • Design + Development • Sydney, Australia
        meta(description="Callum Flack is a graphic designer, user experience designer, user interface designer and front-end developer in Sydney, Australia with over 13 years experience.")
        //- meta(name="google-site-verification" content="1pkE36UC47oa1zT90irmHjFDm8PVuD9TNPAlkE8kVz8")
        link(href="css/main.css", rel="stylesheet", type="text/css")
        link(href="//cloud.webtype.com/css/02ea7154-145c-4856-81a1-fd1832d221a7.css", rel="stylesheet", type="text/css")
        script(src="js/modernizr.js")

    body
        != yield
        script(src='js/jquery.js')
        script(src='js/jquery.arbitrary-anchor.js')
        script(src='js/application.js')
        script(src='js/skrollr.min.js')
