!!! 5
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        title Callum Flack • Design + Development • Sydney, Australia
        meta(description="Callum Flack is a graphic designer, user experience designer, user interface designer and front-end engineer in Sydney, Australia with over 13 years experience.")
        //- meta(name="google-site-verification" content="1pkE36UC47oa1zT90irmHjFDm8PVuD9TNPAlkE8kVz8")
        link(href="css/main.css", rel="stylesheet", type="text/css")
        //- link(href="//fnt.webink.com/wfs/webink.css/?project=35C8C64E-4E8E-409D-B7C7-C35EC54D30A8&fonts=17F8658B-14B5-73F3-4090-F09B3B331932:f=KingsCaslon-Regular,F00B7B4B-7EEA-9D61-22BD-17E114A90A77:f=Stanley-Regular,AD1709C1-51B1-AA04-B3E4-209EBBD5B49E:f=Stanley-Poster,6DAD6DA3-B43D-07D7-EB24-40CC8F4086BE:f=KingsCaslon-Italic,E9F8A6D0-4DED-65E0-DDBC-B60C4B5BA18F:f=KingsCaslonDisplay-Italic,5B0E6E3D-2507-4C23-9AC4-0B125C04FEEB:f=Stanley-Bold,12EE49F4-33E2-2F21-FA9A-D8CDC84E7E55:f=KingsCaslon-BoldItalic,683261F5-67B3-90D7-5954-15A5367068A5:f=KingsCaslon-Bold,A8D66972-7FD4-FF04-E111-83A08D2A80E1:f=KingsCaslonDisplay-Regular" rel="stylesheet" type="text/css")
        link(href="//cloud.webtype.com/css/02ea7154-145c-4856-81a1-fd1832d221a7.css", rel="stylesheet", type="text/css")
        script(src="js/modernizr.js")

    body
        != yield
        script(src='js/jquery.js')
        script(src='js/jquery.arbitrary-anchor.js')
        script(src='js/application.js')
        script(src='js/skrollr.min.js')
