section.CoverImage.CoverImage--vignette.FlexEmbed.FlexEmbed--ratio#boxdice
    .column
        .AbsoluteCenter.is-Variable
            a(href='http://callumflack.com')
                h1.title Box+Dice Software
                summary 2010–2012 • Brand identity & collateral, website design & development, UX design
                p Where I began to write code as part of an Agile dev team for an online CRM product.

section.CoverImage.CoverImage--vignette.FlexEmbed.FlexEmbed--ratio#boxdice
    .column
        .AbsoluteCenter.is-Variable
            a(href='http://callumflack.com')
                h1.title Box+Dice Software
                summary 2010–2012 • Brand identity & collateral, website design & development, UX design
                p Where I began to write code as part of an Agile dev team for an online CRM product.
                
section.CoverImage.CoverImage--vignette.FlexEmbed.FlexEmbed--ratio#boxdice
    .column
        .AbsoluteCenter.is-Variable
            a(href='http://callumflack.com')
                h1.title Box+Dice Software
                summary 2010–2012 • Brand identity & collateral, website design & development, UX design
                p Where I began to write code as part of an Agile dev team for an online CRM product.
                
section.CoverImage.CoverImage--vignette.FlexEmbed.FlexEmbed--ratio#boxdice
    .column
        .AbsoluteCenter.is-Variable
            a(href='http://callumflack.com')
                h1.title Box+Dice Software
                summary 2010–2012 • Brand identity & collateral, website design & development, UX design
                p Where I began to write code as part of an Agile dev team for an online CRM product.
                
section.CoverImage.CoverImage--vignette.FlexEmbed.FlexEmbed--ratio#boxdice
    .column
        .AbsoluteCenter.is-Variable
            a(href='http://callumflack.com')
                h1.title Box+Dice Software
                summary 2010–2012 • Brand identity & collateral, website design & development, UX design
                p Where I began to write code as part of an Agile dev team for an online CRM product.
                
section.CoverImage.CoverImage--vignette.FlexEmbed.FlexEmbed--ratio#boxdice
    .column
        .AbsoluteCenter.is-Variable
            a(href='http://callumflack.com')
                h1.title Box+Dice Software
                summary 2010–2012 • Brand identity & collateral, website design & development, UX design
                p Where I began to write code as part of an Agile dev team for an online CRM product.

