nav.grey
    ul
        a(href='boxdice')
            li
                span.project-title public._data.boxdice.project-title
                | public._data.boxdice.project-meta

        a(href='http://callumflack.com')
            li
                span.project-title Aidacare
                | UX design, UI design—2013

        a(href='http://callumflack.com')
            li
                span.project-title Village Melbourne
                | UX design, website design & development—2013

        a(href='http://callumflack.com')
            li
                span.project-title WeLend
                | Website design & development, UX design—2013–2014

        a(href='http://callumflack.com')
            li
                span.project-title Roundtable Records
                | Brand identity, packaging design—2009–current

        a(href='http://callumflack.com')
            li
                span.project-title Advertising Archive
                | Outdoor & media campaigns, typography—2010–2012

        a(href='http://callumflack.com')
            li
                span.project-title Poster Archive
                | Typography, illustration—2001–current

        a(href='http://callumflack.com')
            li
                span.project-title Logo Archive
                | Typography, illustration—2001–current

