header
    h1.title Box+Dice Software
    p.contact Brand identity, website design & development, UX design — 2010–2012

    figure
        img(src="images/boxdice-card.jpg")

    .intro
        p In 2010, after a decade as a graphic designer, I learnt to code in order to retain design control in the digital space.
        p
            | Today, I'm adept across the design spectrum—branding, typography, user experience design, interface design—and as front-end developer for modern, responsive web or touch applications.&nbsp;
            a(href="#") Learn more.
    //- p
    //-     a(href="#") I’m a fox, not a hedgehog:
    //-     | &nbsp; fluent in communication design domains such as brand identity and typography, adept within UX design, and proficient developing responsive, modern web or touch applications.

!= partial("_nav")
footer
    != partial("_contact")
