header
    != partial("_link-home")
    h1.title Box+Dice Software
    p.interact Brand identity, website design & development, UX design—2010-2012
    p.intro.intro--lg Box+Dice runs an online CRM product for Real Estate in Melbourne, Australia. While working as inhouse brand designer, I began to write front-end code, integrating with the development team in an Agile working process.

article
    figure.lg
        img(src="images/boxdice-card.jpg")
    figure.sm
        img(src="images/boxdice-logosuite.png")
        figcaption The redesigned logo suite on white and bluescape.
    figure.sm
        img(src="images/boxdice-previous1.jpg")
        figcaption The previous logo.

    p I began working with the business owner on general communications, and noted their brand identity 'could work harder'. I redesigned the parent identity and the product logo suite and applied the new identity across all business communications.

    figure.lg
        img(src="images/boxdice-website-home-generational.jpg")


!= partial("_nav-grey")
footer
    != partial("_contact")
