.container

    header
        h1.title Callum Flack is:

    section
        .Grid.Grid--withGutter
            .Grid-cell.u-sm-sizeFull.u-md-size1of2.u-lg-size1of3
                p.em
                    | a graphic designer, digital designer, front-end developer, amateur musicologist, husband, dad.
                p
                    | In 2010, after a decade as a graphic designer, I learnt to code because <a href="http://feltpresence.com/">UI is software, so designers should know how to program</a>.
                p
                    | Design is an aggregation of choices. By learning to implement these choices in the digital medium, I discover how things work and I retain design precision.
                p
                    | I have 14 years in the business of design, working in Brisbane, London, Melbourne and now Sydney, where I work for <a href="http://ward6.com.au/">Ward6</a>.
                p
                    | I've worked for advertising agencies, design studios, software startups, with inhouse teams, as a solo practioner and I've co-owned a record label. Read further on <a href="http://ward6.com.au/">LinkedIn</a>.

            .Grid-cell.u-sm-sizeFull.u-md-size1of2.u-lg-size1of3
                p
                    | Please note that this site is being revised. Instead, you can view a PDF folio <a href="https://dl.dropboxusercontent.com/u/7408773/CallumFlackFolio1312.pdf/">here</a>.
                    //- or ask me via <a href="mailto:callumflack@gmail.com">email</a> or <a href="https://twitter.com/callumflack">twitter</a> for a folio of work.
                p
                    | In lieu of an online folio, here's a list of people, work and services that I admire:
                ul
                    li Daniel Eatock's <a href="http://eatock.com">Indexhibit</a>
                    li gov.co.uk's <a href="https://www.gov.uk/design-principles">Design Principles</a>
                    //- li Matt Willey's redesign of <a href="http://www.mattwilley.co.uk/The-Independent-Newspaper">The Independent</a>
                    li Apeloig's <a href="http://www.apeloig.com/archives.php?cle=03_Afrique_contemporaine&p=09.gif">Afrique Contemporaine posters</a>
                    li Maciej Cegłowski's <a href="https://pinboard.in/">Pinboard</a>
                    //- li Maciej Cegłowski's <a href="http://static.pinboard.in/prosperity_cloud.htm"> Pinboard Co-Prosperity Cloud</a>
                    li The Waxidermy <a href="http://waxidermy.com/features/stock-covers/">Wall of Bone</a>
                    li <a href="http://color.hailpixel.com">color.hailpixel.com</a>
                    //- li <a href="http://www.thetrilogytapes.com/blog/">The Trilogy Tapes</a>
                    li <a href="http://www.discogs.com/Various-London-Is-The-Place-For-Me-2-Calypso-Kwela-Highlife-Jazz-From-Young-Black-London/release/745542">London Is The Place For Me 2</a>
                    //- li Leonardo Sonnoli's <a href="http://www.sonnoli.com/sonnoli/wp-content/uploads/2013/12/05-casa-parole.jpg">sincerity</a> //436/498/472/309
                    //- li Leonardo Sonnoli's <a href="http://www.sonnoli.com/?p=472">graphic sincerity</a>
                    //- li Lesley Vance and her <a href="http://goo.gl/0zdk2Y">post-Baconism</a>
                    li Lesley Vance and her <a href="http://www.letoilemagazine.com/blog/wp-content/uploads/2013/02/Vance_Untitled1.jpg">post-Baconism</a>
                    //- li TextEdit in ⌘ ⇧T mode
                p
                    | You can contact me by <a href="mailto:callumflack@gmail.com">email</a> or on <a href="https://twitter.com/callumflack">twitter</a>.

                //- p
                //-     | Thanks for making it this far. May you walk slowly and make excellent mistakes.
