header
    h1.title Callum Flack • Design + Development
    p.contact
        //- a(href='/about') Learn more
        | Sydney, Australia • Say hi:&nbsp;
        a(href='mailto:callumflack@gmail.com') email
        ,&nbsp;
        a(href='https://twitter.com/callumflack') twitter
        ,&nbsp;
        a(href='https://github.com/callumflack') github
        //- ,&nbsp;or&nbsp;
        //- a(href='http://www.linkedin.com/in/callumflack') linkedin
        .
    .rule-base

    p In 2010, after a decade as a graphic designer, I learnt to code to give myself design control in the digital space.
    p
        //- span(data-tooltip class="has-tip" title="“The fox knows many things, but the hedgehog knows one big thing.” ― Isaiah Berlin") I’m a fox, not a hedgehog:
        a(href="#") I’m a fox, not a hedgehog:
        | &nbsp; fluent in communication design domains such as brand identity and typography, adept within UX design, and proficient developing responsive, modern web or touch applications.
    figure
        img(src="images/CallumFlackSkills.png")


nav
    #scroll-arrow
        a(href='##scroll-start|300')
            p View work
            img(src='/images/ScrollArrow.png')

    #scroll-start
        != partial("_menu")
