header
    h1.title Callum Flack—Design + Development
    != partial("_contact")

    summary
        p.intro.intro--super
            | In 2010, after a decade as a graphic designer, I learnt to code in order to retain design control in the digital domain.
        p.intro.intro--super
            | Today, I'm adept across the design spectrum (from UX through to branding) and I'm a proficient front-end developer.&nbsp;
            //- | Today, I'm adept across the design spectrum—branding, typography, user experience design, interface design—and as front-end developer for responsive web or touch applications.&nbsp;
            a(href="#") Learn more.

!= partial("_nav")
//- footer
    //- != partial("_contact")
